@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200..800&family=Ledger&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #ffffff;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  input[type="file"] {
    padding: 10px;
    
    background: #5d5b5b;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(255, 255, 255); 
    transition: all 0.3s ease-in-out;
  }
  
  input[type="file"]:hover {
    box-shadow: 0 6px 10px rgba(0, 86, 179, 0.7);
  }
  
  button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  button:disabled {
    background: gray;
    cursor: not-allowed;
  }
  
  p {
    font-size: 16px;
    color: #444;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .video-container {
    margin-top: 20px;
  }
  
  video {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  .Stream-video{
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }



  .Stream-video h2{
    font-size: 24px;
    color: #ffffff;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  .Stream-video h3{
    font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 2rem;
  }